html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: montserrat-thin;
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 200;
}
@font-face {
  font-family: montserrat-normal;
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 400;
}
@font-face {
  font-family: montserrat-bold;
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 700;
}
@font-face {
  font-family: montserrat-black;
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 900;
}
.page {
  margin: 0;
  font-family: montserrat-normal, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn {
  margin: 0;
  padding: 1em 4em;
  border: none;
  background-color: #cbf3f0;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  opacity: 0.75;
  transform: scale(0.9);
}
.btn__text {
  color: black;
  font-family: montserrat-bold;
  font-size: 16px;
}
.btn--big .btn__text {
  font-size: 24px;
}
@media (max-width: 576px) {
  .btn--big .btn__text {
    font-size: 20px;
  }
}
.btn--orange-dark {
  background-color: #fd7f20;
}

.header {
  background-color: #ffbf69;
}
.header__container {
  max-width: 1140px;
  padding: 5rem 1.5rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-text {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-family: montserrat-bold;
  transition: all 0.3s ease-in-out;
}
.header__logo-text:hover {
  opacity: 0.75;
  transform: scale(0.9);
}
.header__nav {
  display: flex;
  gap: 24px;
}
.header__nav-link {
  color: black;
  text-decoration: none;
  font-family: montserrat-bold;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.header__nav-link:hover {
  opacity: 0.75;
  transform: scale(0.9);
}
@media (max-width: 576px) {
  .header__nav-link {
    padding: 0.75rem 0;
    border-bottom: 1px solid white;
    margin-bottom: 8px;
    color: white;
  }
}
@media (max-width: 576px) {
  .header__nav {
    box-sizing: border-box;
    flex-direction: column;
    background-color: #fd7f20;
    position: absolute;
    left: 0;
    top: -20px;
    transform: translateY(-100%) scaleY(0);
    transform-origin: top;
    overflow: hidden;
    padding: 24px 100px 24px 24px;
    width: 100%;
    gap: 0;
    transition: all 0.5s ease-in-out;
  }
  .header__nav--show {
    height: auto;
    top: 0;
    transform: translateY(0) scaleY(1);
    font-family: montserrat-bold;
  }
}
.header__nav-trigger-mob {
  display: none;
}
@media (max-width: 576px) {
  .header__nav-trigger-mob {
    display: block;
    position: relative;
    z-index: 1;
  }
}
.header__btn-nav {
  display: none;
}
@media (max-width: 576px) {
  .header__btn-nav {
    display: block;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
  }
}

.hero {
  background-color: #ffbf69;
  transition: background-color 0.5s ease-in-out;
}
.hero__container {
  align-items: center;
  max-width: 1140px;
  padding: 5rem 1.5rem;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.hero__decs {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 576px) {
  .hero__decs {
    order: 2;
    grid-column: span 12;
    text-align: center;
    padding-bottom: 3rem;
    align-items: center;
  }
}
.hero__title {
  font-family: montserrat-black;
  font-size: 124px;
  color: white;
  margin: 0;
}
@media (max-width: 992px) {
  .hero__title {
    font-size: 90px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 60px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 45px;
  }
}
.hero__subtitle {
  font-family: montserrat-bold;
  font-size: 20px;
  color: white;
  margin-top: 0;
  margin-bottom: 1rem;
}
@media (max-width: 576px) {
  .hero__subtitle {
    font-size: 16px;
  }
}
.hero__img {
  grid-column: span 6;
  width: 100%;
}
@media (max-width: 576px) {
  .hero__img {
    grid-column: span 12;
    order: 1;
    width: 80%;
    margin: 0 auto;
  }
}

.about {
  background-color: white;
}
.about__container {
  max-width: 1140px;
  padding: 5rem 1.5rem;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  justify-content: center;
}
.about__content {
  grid-column: 2/span 10;
  text-align: center;
}
@media (max-width: 576px) {
  .about__content {
    grid-column: span 12;
  }
}
.about__title {
  font-size: 24px;
  font-family: montserrat-black;
  margin: 0;
}
.about__text {
  font-size: 20px;
}

.products {
  background-color: #cbf3f0;
}
.products__container {
  max-width: 1140px;
  padding: 5rem 1.5rem;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  justify-content: center;
}
.products__title {
  font-size: 24px;
  font-family: montserrat-black;
  text-align: center;
  grid-column: 12 span;
  margin: 0;
}
.products__cards {
  grid-column: span 12;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.products__card {
  width: 360px;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.products__card-img {
  width: 50%;
}
.products__card-title {
  font-size: 16px;
  font-family: montserrat-bold;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 1rem;
  text-align: center;
}

.article {
  background-color: white;
  background-image: url("./assets/img/bg-round-orange.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 800px;
}
.article__container {
  max-width: 1140px;
  padding: 5rem 1.5rem;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  justify-content: center;
  align-items: center;
}
.article__decs {
  grid-column: 7 span;
}
@media (max-width: 576px) {
  .article__decs {
    grid-column: 12 span;
  }
}
.article__title {
  font-size: 24px;
  font-family: montserrat-bold;
  margin: 0;
}
.article__text {
  font-size: 16px;
}
.article__img {
  grid-column: 5 span;
  width: 100%;
}
@media (max-width: 576px) {
  .article__img {
    grid-column: span 12;
  }
}

.footer {
  background-color: #333333;
  height: 100px;
  margin-top: auto;
}
@media (max-width: 576px) {
  .footer {
    height: auto;
  }
}
.footer__container {
  height: 100%;
  max-width: 1140px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 11rem;
}
@media (max-width: 576px) {
  .footer__container {
    flex-direction: column;
    gap: 24px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.footer__logo-text {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: montserrat-bold;
}
.footer__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .footer__nav {
    flex-direction: column;
    gap: 1rem;
  }
}
.footer__nav-link {
  font-size: 16px;
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */